* {
    box-sizing: border-box;
 }
 
body  {
    background: #FFFFFF; 
    background-attachment: fixed;
    color:#666666;
    font-family: Verdana, Arial;
    margin: 0px;
 }

header { 
    background-image: url(pexels-pixabay-158063.jpg);
    font-family: Georgia;
    text-decoration: none;
    grid-column: 2 / -2;
    grid-row: 1 / 4;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

nav {
    font-weight: bold;
    text-decoration: none;
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    background-color: #8ebe95cc;
    position: sticky;
    top: 0;
    padding-left: 300px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 6rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #046d20ba;
}

#cafe {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f3f3e6;
    grid-column: 2 / -2;
    grid-row: 3 / 5;
}

#cafe img {
    background-position: left;
}

#cake {
    background-size: cover;
    background-repeat: no-repeat;
    color: #f3f3e6;
    grid-column: 2 / -2;
    grid-row: 3 / 5;
}

#cake img {
    background-position: right;
}

#fountain {
    background-size: cover;
    background-repeat: no-repeat;
    color: #f3f3e6;
    grid-column: 2 / -2;
    grid-row: 3 / 5;
}

#fountain img {
    background-position: left;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    background-color: #f2e1c1;
}

dt{
    color:#003058;
    font-weight: Bold;
}

footer{
    font-size:.70rem;
    font-style: italic;
    text-align: Center;
    padding: 1rem;
    grid-column: 2 / -2;
    grid-row: 5 / 6;
    background-color: #8ebe95cc;
}

#wrapper{
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}