* {
    box-sizing: border-box;
 }
 
 .parent {
    display: grid;
    grid-template-columns: .5fr repeat(3, 2fr) .5fr;
    grid-template-rows: 1fr 6fr 1fr repeat(3, 4fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
 }


body  {
    background: #9cd4a4ee; 
    background-attachment: fixed;
    color:#666666;
    font-family: Verdana, Arial;
    margin: 0px;
 }

header { 
    text-decoration: none;
    background-image: url("pexels_pixabay_158063.jpg");
    grid-column: 1/ 6;
    grid-row: 1 / 4;
}

header img:first-of-type {
    z-index: 2;
}

header img:last-of-type {
    z-index: 1;
    width: 100%;
    height: 85%;
}

nav {
    font-weight: bold;
    text-decoration: none;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: #8ebe95cc;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #046d20ba;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column: 2 / 4;
    grid-row: 3 / 7;
    background-color: #f2e1c1;
}

main #cafe p {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    background-position: right;
}

main #cafe img {
    background-position: left;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

main #cake img {
    background-position: right;
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

main #cake p {;
    background-position: left;
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}

main #fountain p {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    grid-column: 3 / 5;
    grid-row: 6 / 7;
}

main #fountain img {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    background-position: left;
}

footer{
    font-size:.70rem;
    font-style: italic;
    text-align: Center;
    padding: 1rem;
    grid-column: 2 / -2;
    grid-row: 5 / 6;
    background-color: #8ebe95cc;
}

#wrapper{
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}