* {
    box-sizing: border-box;
 }

body  {
    background: #9cd4a4ee; 
    background-attachment: fixed;
    color:#666666;
    font-family: Verdana, Arial;
    margin: 0px;
    display: grid;
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    grid-template-rows: .5fr 2fr 1fr 6fr .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
 }

header { 
    text-decoration: none;
    background-image: url("Photos/pexels-pixabay-158063.jpg");
    object-fit: fill;
    background-repeat: no-repeat;
    height: fit-content;
    grid-column: 1/ 4;
    grid-row: 1 / 4;
}

header img:{
    float: center;
    margin-left: 60px;
    margin-top: 120px;

}

nav {
    font-weight: bold;
    text-decoration: none;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: #8ebe956b;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #046d20ba;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: #f2e1c1;
    margin-top: 40px;
}

main #cafe p {
   flex: 1;
   text-align: right;
   margin-left: 1fr;
   padding-right: 20px;
}

main #cafe img {
    margin-left: 20px;
    padding-left: 60px;
    padding-right: 30px;
}

main #cake p {;
    flex: 1
    padding-right: 30px;
}

main #fountain p {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

main #fountain img {
    background-position: left;
    padding-left: 40px;
}

footer{
    font-size:.70rem;
    font-style: italic;
    text-align: Center;
    padding: 1rem;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    background-color: #4a6d4ffd;
}

footer img{
    align-items: center;
    width: 30px;
    margin: 0 20px;
    background-color: #bcf1c4cc;
}
