* {
    box-sizing: border-box;
 }

body  {
    background: #9cd4a4ee; 
    background-attachment: fixed;
    color:#666666;
    font-family: Verdana, Arial;
    margin: 0px;
    display: grid;
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    grid-template-rows: .5fr 2fr 1fr 6fr .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
 }

header { 
    text-decoration: none;
    background-image: url("Photos/pexels-pixabay-158063.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    grid-column: 1/ 4;
    grid-row: 1 / 4;
}

header img {
    position: absolute;
    height: 110px;
    height: 110px;
    left: 60px;
    top: 60px;
}

nav {
    font-weight: bold;
    text-decoration: none;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: #8ebe956b;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #046d20ba;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: #fff9ee;
}

#cafe, #cake, #fountain {
    display: flex;
    align-items: center;
    max-width: 80%;
}

#cafe p {
   display: flex;
   text-align: center;
   padding-right: 20px;
   max-width: 80%;
   background-color: #a0d7a8;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #FFFFFF;
   background-origin:content-box;
   font-weight: bold;
}

#cafe img {
    margin-left: 20px;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    border-radius: 8px;
    margin-right: 15px;
    border-color: #a0d7a8;
}

#cake p {;
    padding-right: 30px;
    display: flex;
    text-align: center;
    max-width: 80%;
    background-color: #81a486;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    background-origin:content-box;
    font-weight: bold;
}

#fountain p {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
    background-color: #4f7154fd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    background-origin:content-box;
    font-weight: bold;
}

#fountain img {
    background-position: left;
    padding-left: 40px;
    border-radius: 8px;
    margin-right: 15px;
    border-color: #4f7154fd;
}

#cafe, #cake, #fountain

footer{
    font-size:.70rem;
    font-style: italic;
    text-align: Center;
    padding: 1rem;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    background-color: #4f7154fd;
}

footer img{
    align-items: center;
    width: 30px;
    margin: 0 20px;
    background-color: #bcf1c4cc;
    border-radius: 10px;
}
