* {
    box-sizing: border-box;
 }

body  {
    background: #cae7cf; 
    background-attachment: fixed;
    color:#666666;
    font-family: Verdana, Arial;
    margin: 0px;
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    grid-template-rows: minmax(0px, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
 }

header { 
    text-decoration: none;
    background-color: #FFFFFF;
    background-size: cover;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    background-image: url(Photos/WildOasis.PNG);
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    line-height: 140%;
    padding-right: 1em;
    padding: 0.5rem;
    width: 30px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #658c6bea;
    text-align: right;
}

header img {
    float: left;
    position: absolute;
    background-origin: content-box;
    height: 190px;
    line-height: 140%;
    padding-left:1em;
    padding: 0.5rem;
    margin:0;
}

main img {
    padding-left: 2rem;
    float: right;
}

#indeximg {
        background-image: url(Photos/pexels-pixabay-158063.jpg);
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-column: 1 / 9;
        grid-row: 2 / 5;    
}

#abouthero {
    background-image: url(Photos/20240728_203921.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row: 2 / 5;     
}

#contacthero {
    background-image: url(Photos/pexels-masoodaslami-28450654.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row: 2 / 5;   
}

#galleryhero {
    background-image: url(Photos/20181227_111652.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row: 2 / 5;   
}

#seasonalhero {
    background-image: url(Photos/20240727_2104131.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row: 2 / 5;     
}

#ticketshero {
    background-image: url(Photos/DSC_0551.JPG);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row: 2 / 5;     
}

nav {
    font-weight: bold;
    text-decoration: none;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #8ebe95ea;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #046d20ba;
}

main{
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    background-color: #fff9ee;
    font-size: x-large;
    font-weight: 400;
    padding-left: 2rem;
    padding-right: 2rem;
}
h2 {
    font: xx-large;
    font-weight: bold;
    float: left;
    color: #4a7350;
}

#Spring h3 {
    color: #81a486 ;
    font-style: italic;
    font: large;
    font-weight: bold;
    float: left;
    font-style: italic;
}
#Spring h4 {
    color: #81a486;
    font-weight: bold;
    float: left;
    font-style: italic;
}
#Summer h3 {
    color: #547659;
    font: large;
    font-weight: bold;
    float: left;
    font-style: italic;
}
#Summer h4 {
    color: #547659;
    font-weight: bold;
    float: left;
    font-style: italic;
}
#Fall h3{
    color: #4f7154fd;
    font: large;
    font-weight: bold;
    float: left;
    font-style: italic;
}
#Fall h4 {
    color: #4f7154fd;
    font-weight: bold;
    float: left;
    font-style: italic;
}
#Winter h3{
    color: #3e5641;
    outline: #3a4f3d;
    font: large;
    font-weight: bold;
    float: left;
    font-style: italic;
}
#Winter h4{
    color: #3e5641;
    font-weight: bold;
    float: left;
    font-style: italic;
}
#seasonal {
    float: left;
}

#Spring {
    background-image: url(Photos/pexels-roman-odintsov-8180735.jpg);
    float: right;
    width: 150PX;
    box-shadow: -15px -10px 0px #a0d7a8
}

#Summer {
    background-image: url(Photos/pexels-simeon-mirkov-2815709-18254263.jpg);
    float: right;
    width: 150PX;
    box-shadow: -15px -10px 0px #a0d7a8
}

#Fall {
    background-image: url(Photos/pexels-pixabay-158028.jpg);
    float: right;
    width: 150PX;
    box-shadow: -15px -10px 0px #547659
}

#Winter {
    background-image: url(Photos/20181221_200938.jpg) ;
    float: right;
    width: 150PX;
    box-shadow: -15px -10px 0px #3a4f3d
}

#cafe, #cake, #fountain {
    display: flex;
}

#cafe {
    align-items: center;
}

#cafe p {
   display: flex;
   text-align: center;
   background-color: #b4d6b9;
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   color: #FFFFFF;
   background-origin:content-box;
   padding-right: 20px;
   padding-left: 40px;
}

#cafe-img {
    margin-left: 20px;
    border-radius: 8px;
    margin-right: 15px;
    border-color: #a0d7a8;
    box-shadow: -15px -10px 0px #a0d7a8;
}

#cake {
    align-items: center
}

#cake p {;
    padding-right: 30px;
    padding-left: 40px;
    display: flex;
    text-align: center;
    max-width: 80%;
    background-color: #81a486;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #FFFFFF;
    background-origin:content-box;
}

#cake img {
    background-position: right;
    border-radius: 8px;
    margin-right: 15px;
    border-color: #81a486;
    margin-left: 15px;
    box-shadow: 15px -10px 0px #81a486;
}

#fountain {
    align-items: center;
}

#fountain p {
    background-repeat: no-repeat;
    background-position: right;
    background-color: #4f7154fd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    background-origin:content-box;
    padding-left: 40px;
    padding-right: 20px;
}

#fountain img {
    background-position: left;
    border-radius: 8px;
    margin-right: 15px;
    border-color: #4f7154fd;
    box-shadow: -15px -10px 0px #4f7154fd;
}

#aboutsm {
    height: auto;
    width: 300px;
    float: right;
    grid-row: 4 / 5;
    grid-column: 6 / 8;
    box-shadow: -15px -10px 0px #a0d7a8;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gallery img {
    max-width: 300px;
    height: auto;
}

#tree {
    background-image: url(Photos/20220506_115312.jpg);
    float: right;
    width: 300px;
    box-shadow: -15px -10px 0px #4f7154fd;
    padding: 20px;
}

footer{
    padding: 1rem;
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    background-color: #4f7154fd;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img{
    width: 30px;
    margin: 0 20px;
    background-color: #bcf1c4cc;
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    body{
        display: grid;
    }
}

@media screen and (max-width: 992px) {
    .center-column {
        width: auto;
    }
    body{
        display: grid;
    }
    nav {
        font: medium;
        font-weight: bold;
        position: static;
        background-color: #8ebe95b2;
        display: block;
        text-align: center;
        grid-row: 2 / 3;
        z-index: 10;
    }
    header {
        grid-row: 1 / 2;
    }
    #cafe-img {
        max-width: 50%;
        height: auto;
    }
    #cake img {
        max-width: 50%;
        height: auto;
    }
    #fountain img {
        max-width: 50%;
        height: auto;
    }
    main {
        font-size: medium;
    }
}

@media screen and (max-width: 768px) {
    .center-column {
        width: 100%;
    }
    .left-column, .right-column {
        display: none;
    }
    body {
        display: grid; 
        grid-auto-columns: auto;
        grid-template-rows: .5fr 1fr 1fr 6fr .5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;   
        padding: 0;
    }
    nav {
        font: medium;
        font-weight: bold;
        position: static;
        background-color: #8ebe95b2;
        display: block;
        text-align: center;
        grid-row: 2 / 3;
        z-index: 10;
    }
    #gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header {
        grid-row: 2 / 4;
    }
    main {
        font-size: medium;
    }
    #cafe-img {
        display: none;
    }
    #cafe p {
        align-items: center;
    }
    #cake img {
        display: none;
    }
    #cafe p {
        align-items: center;
    }
    #fountain img {
        display: none;
    }
    #fountain p{
        align-items: center;
    }
    #indeximg {
            display: none;   
    }

    #abouthero {
        display: none;   
    }

    #contacthero {
        display: none; 
    }

    #galleryhero {
        display: none;  
    }

    #seasonalhero {
        display: none;   
    }

    #ticketshero {
        display: none;
    }   
}