* {
    box-sizing: border-box;
 }

body  {
    background: #cae7cf; 
    background-attachment: fixed;
    color:#666666;
    font-family: Verdana, Arial; 
    margin: 0px;
 }
#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 175px)) minmax(0px, 1fr);
    grid-template-rows: minmax(0px, auto);
}

header { 
    text-decoration: none;
    background-color: #FFFFFF;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
}
h1{
    background-image: url(Photos/WildOasis.PNG);
    background-position:right;
    background-repeat:no-repeat;
    background-origin:content-box;
    line-height: 140%;
    padding-right: 1em;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    height: 100px;
}
h2{
    font-size: large;
    color: #4a7350;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #658c6bea;
    text-align: left;
}

#option {
    font-style: italic;
    font-size: small;
}
#indeximg {
    background-image: url(Photos/pexels-pixabay-158063.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row: 3 / 4;    
}

#abouthero {
    background-image: url(Photos/20240728_203921.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row: 3 / 4;     
}

#contacthero {
    background-image: url(Photos/pexels-masoodaslami-28450654.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row: 3 / 4;   
}

#galleryhero {
    background-image: url(Photos/20181227_111652.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row:  3 / 4;   
}

#seasonalhero {
    background-image: url(Photos/20240727_2104131.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row:  3 / 4;     
}

#ticketshero {
    background-image: url(Photos/DSC_0551.JPG);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 9;
    grid-row:  3 / 4;     
}

nav {
    font-weight: bold;
    text-decoration: none;
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    height: auto;
    background-color: #8ebe95ea;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #046d20ba;
}
#whitebar{
    background-color: #FFFFFF;
    grid-column: 1 / 9;
    grid-row: 1 / 2;
}
#greenbar{
    grid-column: 1 / 9;
    grid-row: 2 / 3;
    background-color: #8ebe95ea;
}

main{
    grid-column: 2 / -2;
    grid-row: 4 / 8;
    background-color: #fff9ee;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #000000;
}
h2 {
    font: xx-large;
    font-weight: bold;
    float: left;
    color: #4a7350;
}
#seasonal p {
    text-align: left;
}
#Spring h3 {
    color: #81a486;
    font-style: italic;
    font: large;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#Spring h4 {
    color: #81a486;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#Summer h3 {
    color: #547659;
    font: large;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#Summer h4 {
    color: #547659;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#Fall h3{
    color: #4f7154fd;
    font: large;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#Fall h4 {
    color: #4f7154fd;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#Winter h3{
    color: #3e5641;
    outline: #3a4f3d;
    font: large;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#Winter h4{
    color: #3e5641;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#seasonal {
    text-align: left;
    display: block;
}
main img{ 
    padding-left: 2rem;
    float: right;
    box-shadow: 8px 6px 0px #a0d7a8;
    border-radius: 8px;
}

#cafe, #cake, #fountain {
    display: flex;
}

#cafe {
    align-items: center;
}

#cafe p {
   display: flex;
   text-align: center;
   background-color: #b4d6b9;
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   color: #FFFFFF;
   background-origin:content-box;
   padding-right: 20px;
   padding-left: 40px;
}

#cafe img {
    margin-left: 20px;
    border-radius: 8px;
    margin-right: 15px;
    border-color: #a0d7a8;
    box-shadow: -15px -10px 0px #a0d7a8;
}

#cake {
    align-items: center
}

#cake p {;
    padding-right: 30px;
    padding-left: 40px;
    display: flex;
    text-align: center;
    max-width: 80%;
    background-color: #81a486;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #FFFFFF;
    background-origin:content-box;
}

#cake img {
    background-position: right;
    border-radius: 8px;
    margin-right: 15px;
    border-color: #81a486;
    margin-left: 15px;
    box-shadow: 15px -10px 0px #81a486;
}

#fountain {
    align-items: center;
}

#fountain p {
    background-repeat: no-repeat;
    background-position: right;
    background-color: #4f7154fd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    background-origin:content-box;
    padding-left: 40px;
    padding-right: 20px;
}

#fountain img {
    background-position: left;
    border-radius: 8px;
    margin-right: 15px;
    border-color: #4f7154fd;
    box-shadow: -15px -10px 0px #4f7154fd;
}

#aboutsm {
    height: auto;
    width: 350px;
    float: right;
    grid-row: 4 / 5;
    border-radius: 8px;
    box-shadow: 15px -10px 0px #a0d7a8;
    padding: 20px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gallery img {
    max-width: 300px;
    height: auto;
    border-radius: none;
}
#contact h3{
    font-size: large;
    font-weight: bold;
}
#contact {
    text-align: left;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, minmax(0px, 100rem));
    gap: .75rem;
    width: 100%;
    margin: 20px;
}
#tree {
    width: 200px;
    height: auto;
    box-shadow: -5px -5px 0px #4f7154fd;
    border-radius: 8px;
    padding: 20px;
    float: right;
    padding-left: 40px;
}
#contact #cform{
    grid-column: 1 / 2;
}
#contact p{
    font-size: small;
    font-style: italic;
}
#shoppingcart{
    display: grid;
    grid-template-columns: .5fr;
}

#ticketform{
    float: left;
}

input, textarea{
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #b4d6b9;
    border: none;  
}

input:focus, textarea:focus{
    outline: none;
    background-color: #b4d6b9;
}
label {
    padding: 10px;
    text-align: right;
}
#mySubmit {
    width: 10rem;
    grid-column: 2 / 3;
    padding: 10px;
    background-color: #fafafa;
    color: #666666;
    border: none;
    cursor: pointer;
}
#mySubmit:hover{
    background-color: #3a4f3d;
}
footer{
    padding: 1rem;
    grid-column: 2 / -2;
    grid-row: 8 / 9;
    background-color: #4f7154fd;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img{
    width: 35px;
    margin: 0 20px;
    background-color: #bcf1c4cc;
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    body{
        display: grid;
    }
}

@media screen and (max-width: 900px) {
    .center-column {
        width: auto;
    }
    body{
        display: grid;
    }
    nav {
        font: medium;
        font-weight: bold;
        position: static;
        background-color: #8ebe95b2;
        text-align: center;
        grid-row: 2 / 3;
        z-index: 10;
    }
    nav ul {
        display: flex;
        flex-flow: column nowrap;
    }
    header {
        grid-row: 1 / 2;
    }
    #cafe-img {
        max-width: 50%;
        height: auto;
    }
    #cake img {
        max-width: 50%;
        height: auto;
    }
    #fountain img {
        max-width: 50%;
        height: auto;
    }
    #gallery img{
        max-width: 50%;
    }
    main {
        font-size: medium;
}
    #shoppingcart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .center-column {
        width: 100%;
    }
    .left-column, .right-column {
        display: none;
    }
    body {
        display: grid; 
        grid-auto-columns: auto;
        grid-template-rows: .5fr 1fr 1fr 6fr .5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;   
        padding: 0;
    }
    nav {
        font: medium;
        font-weight: bold;
        position: static;
        background-color: #8ebe95b2;
        display: block;
        text-align: center;
        grid-row: 2 / 3;
        z-index: 10;
    }
    #gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #gallery img{
        max-width: 50%;
    }
    #tree {
        display: none;
    }
    header {
        grid-row: 2 / 4;
    }
    main {
        font-size: medium;
    }
    #cafe-img {
        display: none;
    }
    #cafe p {
        align-items: center;
    }
    #cake img {
        display: none;
    }
    #cafe p {
        align-items: center;
    }
    #fountain img {
        display: none;
    }
    #fountain p{
        align-items: center;
    }
    #indeximg {
            display: none;   
    }

    #abouthero {
        display: none;   
    }

    #contacthero {
        display: none; 
    }

    #galleryhero {
        display: none;  
    }

    #seasonalhero {
        display: none;   
    }

    #ticketshero {
        display: none;
    }   
}