 body  {
    background-color: linear-gradient(to bottom, #eeeeee, #FFFFFF); 
    background-attachment: fixed;
    color:#666666;
    font-family: Verdana, Arial;
 }

header {
    background-color:#003058;
    color:#FFFFFF;
    font-family: Georgia;
}

h1 {
        line-height: 140%;
        padding:.5rem;
}

nav {
    background-color:#F3F3F3;
    font-weight: bold;
}

h2{
    color:#424242;
    font-family: Georgia;
}

dt{
    color:#003058;
    font-weight: Bold;
}

.ut{
    color:#BA1C21;
    font-weight: bold;
}

footer{
    font-size:.70rem;
    font-style: italic;
    text-align: Center;
}

#wrapper{
    background-color: #ffffff;
    width:80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: opx 3px 3px rgba(66, 66, 66, 0.3);
    margin-right:auto;
    margin-left:auto;
}